@page "/resources"
@attribute [StreamRendering]

<PageTitle>Resources</PageTitle>
<div class="row-cols-12 text-end">
    <input id="fileInput" hidden onchange="UploadFile" class="text-end sticky-bottom" type="file" />
    <label for="fileInput" class="btn btn-dark rounded-pill">Upload File</label>
</div>
@code {
    private async Task UploadFile(ChangeEventArgs e)
    {
        var files = (Microsoft.AspNetCore.Components.Forms.IBrowserFile[])e.Value;
        if (files.Length > 0)
        {
            var file = files[0];
            using var stream = file.OpenReadStream();
            // Process the file stream as needed
            Console.WriteLine($"Uploaded file: {file.Name}, size: {file.Size} bytes");
        }
    }
}
