html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}
/**/
.home-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.components-section {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 1rem;
    min-height: 0;
}

.form-section {
    flex-shrink: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content {
    display: flex !important;
    flex-direction: column;
    padding-top: 1.1rem !important;
    height: 100%;
}

.content > .home-container {
    height: 100%;
}
